//Specific elements style, not classes.
body {
  background: {
    color: gray;
  }
}
canvas {
  background: {
    color: white;
    image: url('/img/cyber.jpg');
  }
}
header {
  height: 40px;
  width: 100%;
  position: fixed;
  margin-top: -40px;
  background: {
    color: yellow;
  }
}
