//Specific elements style, not classes.
body {
  background: {
    color: white;
  }
}
canvas {
  background: {
    color: white;
    image: url("/img/cyber.jpg");
  }
}
header {
  height: 40px;
  width: 100%;
  position: fixed;
  margin-top: -40px;
  background: {
    color: yellow;
  }
}
.button-error {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60); /* this is a maroon */
}
